doctype html
html(lang="es")
    head
        title= title
        meta(charset="utf-8")
        link(rel="stylesheet", href="/css/index3.css")
    body
        div.estructura-fila 
            div.estructura-columna-izquierda
                div.container-buscador 
                    h1 Administrar pacientes
                    div.container-buscador-botones
                        div 
                            button(onclick="mostrarFormularioPacientes('formDniPacientes')") Buscar por dni 
                        div 
                            button(onclick="mostrarFormularioPacientes('formNombrePacientes')") Buscar por nombre
                        div 
                            button(onclick="mostrarFormularioPacientes('formBorrarPacientes')") Borrar paciente 
                        div 
                            button(onclick="mostrarFormularioPacientes('formModificarPacientes')") Modificar paciente
                        div 
                            button(onclick="mostrarFormularioPacientes('formAgregarPacientes')") Agregar paciente 
                        //- div 
                        //-     a(href="/login")
                        //-         button(onclick="") Estoy registrado                        
                
                    h1 Administrar turnos
                    div.container-buscador-botones
                        div 
                            button(onclick="mostrarFormularioTurnos('formDniTurnos')") Buscar por DNI 
                        div 
                            button(onclick="mostrarFormularioTurnos('formIdTurnos')") Buscar por ID
                        div 
                            button(onclick="mostrarFormularioTurnos('formBorrarTurnos')") Borrar turno 
                        //- div POR AHORA NO VOY A GASTAR TIEMPO EN ESCRIBIR ESTA FUNCION
                        //-     button(onclick="mostrarFormularioTurnos('formModificarTurnos')") Modificar turno
                        div 
                            button(onclick="mostrarFormularioTurnos('formAgregarTurnos')") Agregar turno 
                        //- div 
                        //-     a(href="/login")
                        //-         button(onclick="") Estoy registrado
                    

            div.container-formularios
                div.titulo-buscador-formularios 
                    h1 Pacientes

                div.container-buscador-formularios
                    //- formulario para buscar turnos por dni
                    form#formDniPacientes(method="GET" style="display:flex")
                        label(for="dni") DNI:
                        input(type="text" name="dni" id="dni" required)
                        button(type="button" onclick="devolverTurnoPorDni()") Buscar

                    //- formulario para buscar turnos por nombre
                    form#formNombrePacientes(method="GET" style="display:none")
                        label(for="nombre") Nombre:
                        input(type="text" name="nombre" id="nombre" required)
                        button(type="button") Buscar
                    
                    //- formulario para borrar pacientes por dni
                    form#formBorrarPacientes(method="DELETE" style="display:none")
                        label(for="dni") DNI:
                        input(type="text" name="dni" id="dni" required)
                        button(type="button") Borrar

                    //- formulario para modificar pacientes por dni
                    form#formModificarPacientes(method="UPDATE" style="display:none")
                        label(for="dni") DNI:
                        input(type="text" name="dni" id="dni" required)
                        label(for="nombre") Nuevo nombre:
                        input(type="text" name="dni" id="nombre" required)
                        label(for="email") Nuevo email:
                        input(type="text" name="dni" id="email" required)
                        button(type="button") Modificar

                    //- formulario para agregar pacientes por dni
                    form#formAgregarPacientes(method="POST" style="display:none")
                        label(for="dni") DNI:
                        input(type="text" name="dni" id="dni" required)
                        label(for="nombre") Nombre:
                        input(type="text" name="dni" id="nombre" required)
                        label(for="email") Email:
                        input(type="text" name="dni" id="email" required)
                        button(type="button") Agregar
                            
                div.titulo-buscador-formularios 
                    h1 Turnos

                div.container-buscador-formularios
                    //- formulario para buscar turnos por dni
                    form#formDniTurnos(method="GET" style="display:flex")
                        label(for="dni") DNI:
                        input(type="text" name="dni" id="dni" required)
                        button(type="button" onclick="devolverTurnoPorDni()") Buscar

                    //- formulario para buscar turnos por nombre
                    form#formIdTurnos(method="GET" style="display:none")
                        label(for="nombre") ID:
                        input(type="text" name="id" id="id" required)
                        button(type="button" onclick="devolverTurnoPorId()") Buscar

                    //- formulario para borrar turnos por id
                    form#formBorrarTurnos(method="DELETE" style="display:none")
                        label(for="id") ID:
                        input(type="text" name="id" id="id" required)
                        button(type="button" onclick="borrarTurnoPorId()") Borrar

                    //- formulario para agregar turnos por id
                    form#formAgregarTurnos(method="POST" style="display:none")
                        label(for="dni") DNI:
                        input(type="text" name="dni" id="dni" required)
                        label(for="fecha") Fecha:
                        input(type="text" name="fecha" id="fecha" required)
                        label(for="doctor") Doctor:
                        input(type="text" name="doctor" id="doctor" required)
                        button(type="button" onclick="agregarTurno()") Agregar
            
            div.container-tablas
                div.container-tabla
                    if turnos.length
                        table
                            thead
                                tr
                                    th Nombre
                                    th Doctor
                                    th Fecha
                            tbody
                                each turno in turnos
                                    tr
                                        td= turno.nombre
                                        td= turno.doctor
                                        td= turno.fecha
                    else
                        p No hay turnos disponibles.
                div.container-tabla
                    if turnos.length
                        table
                            thead
                                tr
                                    th ID
                                    th Nombre
                                    th Doctor
                                    th Fecha
                            tbody
                                each turno in turnos
                                    tr
                                        td= turno.id
                                        td= turno.nombre
                                        td= turno.doctor
                                        td= turno.fecha
                    else
                        p No hay turnos disponibles.
                    
        footer
            p © #{new Date().getFullYear()} Buscador de turnos  
            //-// TODO: Poner en la posicion correcta el footer
        script.

            let formulario_anterior_pacientes = null
            function mostrarFormularioPacientes(id) {
                console.log("Mostrando formulario:", id);

                let formulario_actual = document.getElementById(id)

                if(formulario_anterior_pacientes != id){
                    if(formulario_anterior_pacientes != null){
                        formulario_anterior_pacientes.style.display = "none"
                    }
                    else{
                        document.getElementById("formDniPacientes").style.display = "none"
                    }
                    formulario_anterior_pacientes = document.getElementById(id)
                    formulario_actual.style.display = "flex";
                }
                
            }

            let formulario_anterior_turnos = null
            function mostrarFormularioTurnos(id) {
                console.log("Mostrando formulario:", id);

                let formulario_actual = document.getElementById(id)

                if(formulario_anterior_turnos != id){
                    if(formulario_anterior_turnos != null){
                        formulario_anterior_turnos.style.display = "none"
                    }
                    else{
                        document.getElementById("formDniTurnos").style.display = "none"
                    }
                    formulario_anterior_turnos = document.getElementById(id)
                    formulario_actual.style.display = "flex";
                }
            }

            // FUNCIONES CRUD DE TURNO
            function devolverTurnoPorDni(){ 
                const dni = document.querySelector("#formDniTurnos input").value
                fetch(`/turnos/${dni}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log("Turnos encontrados:", data);
                        const tbody = document.querySelectorAll('div.container-tabla table tbody')[1];

                        tbody.innerHTML = '';

                        data.forEach(turno => {
                            const tr = document.createElement('tr');

                            tr.innerHTML = `
                                <td>${turno.id}</td>
                                <td>${turno.dni}</td>
                                <td>${turno.doctor}</td>
                                <td>${turno.fecha}</td>
                            `;

                            tbody.appendChild(tr);
                        });
                    })
                    .catch(error => console.error("Error:", error));
            }

            function devolverTurnoPorId(){ 
                const id = document.querySelector("#formIdTurnos input").value
                fetch(`/turnos/id/${id}`)
                    .then(response => response.json())
                    .then(turno => {
                        console.log("Turno encontrado:", turno);
                        const tbody = document.querySelectorAll('div.container-tabla table tbody')[1];

                        tbody.innerHTML = '';

                        const tr = document.createElement('tr');

                        tr.innerHTML = `
                            <td>${turno.id}</td>
                            <td>${turno.dni}</td>
                            <td>${turno.doctor}</td>
                            <td>${turno.fecha}</td>
                        `;

                        tbody.appendChild(tr);
                        
                    })
                    .catch(error => console.error("Error:", error));
            }

            function borrarTurnoPorId(){ 
                const id = document.querySelector("#formIdTurnos input").value 
                const token = localStorage.getItem('token'); // Extraigo el token del localstorage 
                fetch(`/turnos/${id}`, {
                    method: "DELETE",
                    headers: { 'token': `${token}` }
                })
                    .then(turno => {
                        console.log("Turno eliminado:", turno);
                        alert("Turno borrado")
                    })
                    .catch(error => console.error("Error:", error));
            }

            function agregarTurno(){ 
                const dniA = document.querySelector("#formAgregarTurnos #dni").value 
                const fechaA = document.querySelector("#formAgregarTurnos #fecha").value 
                const doctorA = document.querySelector("#formAgregarTurnos #doctor").value 
                console.log("ESTA ES LA FECHA: ", fechaA)
                console.log("ESTA ES LA DOCTOR: ", doctorA)
                console.log("ESTA ES LA DNI: ", dniA)
                const token = localStorage.getItem('token'); // Extraigo el token del localstorage 
                fetch(`/turnos`, {
                    method: "POST",
                    body: JSON.stringify({
                        fecha: fechaA, 
                        dni: dniA, 
                        doctor: doctorA
                    }),
                    headers: { 
                        'token': `${token}`,
                        'Content-Type': 'application/json' // Sin esto no anda el post porque el server no sabe que va a recibir json en el body :(
                    }
                })
                    .then(turno => {
                        console.log("Turno agregado:", turno);
                        alert("Turno agregado")
                    })
                    .catch(error => console.error("Error:", error));
            }
            