doctype html
html(lang="es")
    head
        title= title
        meta(charset="utf-8")
        link(rel="stylesheet", href="/css/index.css")
    body
        div.estructura-fila 
            div.estructura-columna-izquierda
                div.container-texto
                    h1= message

                    if showFeatures
                        h2 Descripcion:
                        ul
                            each feature in features
                                li= feature
                    else
                        p No hay características disponibles.
                    
                //- Esto es un comentario (no se renderiza en el HTML)
                div.container-buscador 
                    h1 Buscar turnos
                    div.container-buscador-botones
                        div 
                            button(onclick="mostrarFormulario('formDni')") Buscar por dni 
                        div 
                            a(href="/login")
                                button(onclick="") Estoy registrado
                    div.container-buscador-formularios
                        //- formulario para buscar turnos por DNI
                        form#formDni(action="/buscar/dni" method="GET" style="display:block")
                            label(for="dni") DNI:
                            input(type="text" name="dni" id="dni" required)
                            button(type="submit" onclick="devolverTurnoPorDni()") Buscar
            div.container-tabla
                if turnos.length
                    table
                        thead
                            tr
                                th Nombre
                                th Doctor
                                th Fecha
                        tbody
                            each turno in turnos
                                tr
                                    td= turno.nombre
                                    td= turno.doctor
                                    td= turno.fecha
                else
                    p No hay turnos disponibles.
        footer
            p © #{new Date().getFullYear()} Buscador de turnos  
            //-// TODO: Poner en la posicion correcta el footer
        script.
            function mostrarFormulario(id) {
                console.log("Mostrando formulario:", id);
    
                let formDni = document.getElementById("formDni");
                let formNombre = document.getElementById("formNombre");

                if (id === "formDni") {
                    formDni.style.display = "block";
                    formNombre.style.display = "none";
                }

                if (id === "formNombre") {
                    formNombre.style.display = "block";
                    formDni.style.display = "none";
                }
            }

            function devolverTurnoPorDni(dni){ // TODO: No se si va a ser asi el tema, pero empece a hacerlo y me di cuenta que aun no tenia nisiquiera hehco el modelo de turnos asiq lo dejo asi por si sirve despues.
                fetch('/turnos/${dni}')
                    .then(res => res.json())
                    .then(data => {
                        console.log('Pacientes:', data);
                    })
                    .catch(err => {
                        console.error('Error al traer pacientes:', err);
                    }
                );
            }
            