doctype html
html(lang="es")
    head
        title= title
        meta(charset="utf-8")
        link(rel="stylesheet", href="/css/index.css")
    body
        div.estructura-fila 
            div.estructura-columna-izquierda
                div.container-texto
                    h1= message

                    if showFeatures
                        h2 Descripcion:
                        ul
                            each feature in features
                                li= feature
                    else
                        p No hay características disponibles.
                    
                div.container-buscador 
                    h1 Buscar turnos
                    div.container-buscador-botones
                        div 
                            button(onclick="mostrarFormulario('formDni')") Buscar por dni 
                        div 
                            a(href="/login")
                                button(onclick="") Estoy registrado
                    div.container-buscador-formularios
                        //- formulario para buscar turnos por DNI
                        form#formDni(action="/buscar/dni" method="GET" style="display:block")
                            label(for="dni") DNI:
                            input(type="text" name="dni" id="dni" required)
                            button(type="button" onclick="devolverTurnoPorDni()") Buscar
            //- // TODO: HACER EL CSS DE LA TABLA,  esto tambien hay que hacerlo en las tablas de index3.pug
            div.container-tabla
                table
                    thead
                        tr
                            th DNI
                            th Doctor
                            th Fecha
                    tbody
                        each turno in turnos
                            tr
                                td= turno.dni
                                td= turno.doctor
                                td= turno.fecha
        footer
            p © #{new Date().getFullYear()} Buscador de turnos  
            //-// TODO: Poner en la posicion correcta el footer
        script.
            function mostrarFormulario(id) {
                console.log("Mostrando formulario:", id);
    
                let formDni = document.getElementById("formDni");
                let formNombre = document.getElementById("formNombre");

                if (id === "formDni") {
                    formDni.style.display = "block";
                    formNombre.style.display = "none";
                }

                if (id === "formNombre") {
                    formNombre.style.display = "block";
                    formDni.style.display = "none";
                }
            }

            function devolverTurnoPorDni(){
                const dni = document.getElementById("dni").value
                fetch(`/turnos/${dni}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log("Turnos encontrados:", data);
                        const tbody = document.querySelector('div.container-tabla table tbody');

                        tbody.innerHTML = '';

                        data.forEach(turno => {
                            const tr = document.createElement('tr');

                            tr.innerHTML = `
                                <td>${turno.dni}</td>
                                <td>${turno.doctor}</td>
                                <td>${turno.fecha}</td>
                            `;

                            tbody.appendChild(tr);
                        });
                    })
                    .catch(error => console.error("Error:", error));
            }
            